<section>
    <div>
        <div class="image-section ">
            <div class="position-relative">
                <img src="../../../assets/image/home.webp" alt="Your Image" class="object-fit-cover border border-"
                   >

                <div class="overlay-text">
                    <p class="text-white">Our work is the presentation of our capabilities.</p>
                       <button class="btn btn-primary mt-2 ms-5"  routerLink="/home/all-employees-deatils">GetStarted</button>
                </div>

            </div>
        </div>

    </div>
</section>